<h2><%= @power.name.titleize %></h2>

<h3>Description: </h5>
<p><%= @power.description.capitalize %></p>

<br><br>
<%= link_to "Show all Heroines", heroines_path%><br>
<%= link_to "Show all Powers", powers_path%>